/* RESET DE CONFIGURAÇÕES GERAIS PARA NAVEAGDOR */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    background-image: url("assets/gyro.jpg");
    background-repeat: no-repeat;
    background-position: center - center;
    background-size: cover;
    background-attachment: fixed;

    button{
        background-color: #83004c;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }
}